.conteudo {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.conteudo > h3{
    font-size: 30px;
    text-decoration: underline;
}
.conteudo{ 
    font-size: 20px;
}

details{
    padding-bottom: 6px;
    font-size: 22px;
}
summary:hover{
    text-decoration: underline;
}